<html>
	<head>
		<script src="js/jquery.min.js"></script>
		<script src="js/cello-game.js"></script>
		<script src="js/violin-game.js"></script>
		<script src="js/trumpet-game.js"></script>
		<script src="js/file-reader.js"></script>
		<script src="js/conductor.js"></script>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div id="reset">
			<h2>Follow instruction on the screen to setup a new game.</h2>
	    <button id="resetBtn">Hit Button to Reset Game</button>

			<div id="gameContainer">
				<div class="game" id="violinGame">
					<h3>Subject of Wires</h3>
					<p>Answer: <span id="answer"></span></p>
					<p>Question set: <span id="questionSet"></span></p>
				</div>

				<div class="game" id="celloGame">
					<h3>Subject of Keypads</h3>
					<p>Answer: <span id="answer"></span></p>
					<p>Question set: <span id="questionSet"></span></p>
					<ul>
							<li id="button1"><img src="" /><p></p></li>
							<li id="button2"><img src="" /><p></p></li>
							<li id="button3"><img src="" /><p></p></li>
							<li id="button4"><img src="" /><p></p></li>
					</ul>
				</div>

				<div class="game" id="trumpetGame">
					<h3>Subject of The Button</h3>
					<p>Answer: <span id="answer"></span></p>
					<p>Button color: <span id="buttonColor"></span></p>
					<p>Button text: <span id="buttonText"></span></p>
					<p>No. of battery: <span id="batteryCount"></span></p>
					<p>LIT indicator: <span id="litIndicator"></span></p>
				</div>
			</div>
		</div>
	</body>
</html>
